{{=@@ @@=}}
[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{level => info,
        filter_default => log,
        formatter => {logger_formatter,
                      #{legacy_header => false,
                        single_line => true,
                        time_offset => "Z",
                        template => [time, " ", domain, " ", level, ": ",
                                     msg,"\n"]}}}}]},
   {logger_level, info}]},

 {@@name@@,
  []}].
